main {
    margin-top: 30px;
    padding: 0 10%;
    
}

#layer {
    display: flex;
    text-align: center;
    margin: 0 0 10px;
    border-bottom: 1px solid #C1C1C1;
}

p {
    font-size: large;
    font-weight: 400;
    width: 130px;
    cursor: pointer;
    margin: 0 0 5px;
    /* border-bottom: 2px solid black; */
}

p:hover {
    transform: scale(1.1);
}

#form {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

select{
  border: 1px solid #C1C1C1;
  border-radius: 10px;
    padding: 8px 0;
    word-spacing: 2px;
}

select:focus {
  outline: none;
}

.search-box {
  font-size: 30px;
  padding: 0px 0px;
  border: 1px solid #C1C1C1;
  width: 300px;
  border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 0;
}

button:hover {
  cursor: pointer;
}

span {
    vertical-align: -1px;
}

input {
    vertical-align: 4px;
    letter-spacing: -0.2px;
    font-size: 20px;
    border: none;
}

input:focus {
  outline: none;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 80vh;
    width: 80vw;
}

#approve {
    position: absolute;
    z-index: 1;
}

/* #approve:focus {
    border-bottom: 2px solid black;
} */

#approved {
    position: absolute;
    z-index: 1;
    bottom: -5%;
    /* background: black; */
    margin: 50px;
    /* opacity: 0; */
}

.container {
    height: inherit;
    width: inherit;
}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #C1C1C1;
    padding: 10px;
}

th {
    color: #C1C1C1;
}

td {
    color: #535151;
    font-size: 17px;
}

.approve-button {
    border: 2px solid #535151;
    padding: 8px;
    border-radius:4px;
    cursor: pointer;
}

.approve-button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.underline {
    border-bottom: 2px solid black;
}

img {
    height: 15px;
    margin-right: 10px;
}